<body>
    <div class="bg-text">
        <div class="banner-container"></div>
        <div class="buttons-container">
            <button (click)="irParaPaginaInicial()">Página Inicial</button> 
            <button (click)="irParaCriarAnime()">Adicionar Anime!</button>
            <button (click)="irParaSobrePagina()">Sobre</button>
            <button (click)="logout()">Sair</button>
        </div>  
    </div>

    <div class="about-container">
        <h1>Trabalho de Iniciação à Desenvolvimento Web da Disciplina Optativa de Ciência da 
            Computação</h1>
        <h2>Olá! Este site trata-se de um trabalho para aprender conceitos sobre implementação 
            de um site sobre um crud de animes na web. As funções do sistema incluem: cadastro, login,
            logout, ver lista de animes, adicionar anime, editar anime, excluir anime e adicionar foto de anime. O mesmo está
            hospedado através do serviço firebase hosting, contando ainda também com armazenamento de imagens pelo mesmo serviço.
        </h2>
    </div>

    
</body>
